.taskFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 590px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 7px 20px;
    margin-bottom: 10px;
}
.flexButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
}
.inputPointer{
    cursor: pointer;
}
.done{
   text-decoration: line-through;
    color: lightcoral;
}
.button{
    padding: 5px 7px;
    background-color: lightcoral;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}
.button:hover{
    box-shadow: 0 0 2px black;
}
