.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-bottom: 1px solid brown;
}
.flex{
    display: flex;
    column-gap: 30px;
    margin-right: 10px;
    align-items: center;
    justify-content: space-between;
}


button:hover{
    cursor: pointer;
}
