a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: black;
}
a[class='active']{
    text-decoration: underline;
    color: darkorange;
}
.header{
    height: 30px;
    background-color: cornflowerblue;
    border-bottom: 1px solid silver;
}
.container{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;

}
.navMenu{
    display: flex;
    column-gap: 30px;
}