@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-image: url("https://images.wallpaperscraft.ru/image/single/poligon_treugolniki_geometricheskij_128478_1920x1080.jpg");
}
.flex{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body.dark-theme {
    color: white;
    background: black;
}